<%= render :template => 'dashboard/index' -%>
<p style="color: green"><%= notice %></p>
<div>
<h1>List of notes of collection </h1>
<table class="table table-striped table-bordered">
  <thead class="thead-dark">
  <thead>
    <tr>
      <th scope="col">User id</th>  
      <th scope="col">Title</th>
      <th scope="col">TOpic</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
  <% @collection.notes.each do |note| %>
      <tr>
        <td><%= note.title %></td>
        <td><%= note.topic %></td>
        <td><%= note.description %></td>
        </tr>  
<% end %>
  </tbody>
</table> 
<%= render :template => 'collections/back' -%> 

<div>
  <%= link_to "Back to collections", collections_path %>

 
</div>
