<!DOCTYPE html>
<html>
<head>
  <title>dashboard </title> 
         <li class="nav-item active">
          <a>  <%= link_to "Go to users ", users_path, class: 'nav-link' %> </a>
        </li>
        <li class="nav-item active">
         <a>  <%= link_to "Go to notes ", notes_path, class: 'nav-link' %> </a>
        </li>
        <a>
         <li class="nav-item active">
         <a>  <%= link_to "Go to collections ", collections_path, class: 'nav-link' %> </a>
        </li>
        
        <a>
        <%= link_to "Log out", destroy_user_session_path, class: 'nav-link', data: {turbo_method: :delete} %>
        <a>     
      </ul>
    </div>
  </nav>
  <div class="container mt-4">
    <%= yield %>
  </div>
 
  </body>
</html>
