<%= form_with(model: note) do |form| %>
  <% if note.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>
      <ul>
        <% note.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.hidden_field :user_id, value: current_user.id %>
  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :topic, style: "display: block" %>
     <%= form.select :topic, [["Homework","Homework"], ["Shop","Shop"],["Sports","Sports"],["University","University"]], selected: "University" %>
  </div>

  <div>
    <%= form.label :image, style: "display: block" %>
    <%= form.file_field :image %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  
  <div>
    <%= form.label :share, style: "display: block" %>
    <%= form.select :share, [["Yes","True"], ["No","False"]], selected: "Yes" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
