<div id="<%= dom_id note %>">
  <p>
    <strong>Title:</strong>
    <%= note.title %>
  </p>

  <p>
    <strong>Topic:</strong>
    <%= note.topic %>
  </p>

  <p>
    <strong>Image:</strong>
    <% if note.image? %>
      <%= image_tag url_for(note.image.url) %>
    <% end %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= note.description %>
  </p>
  <p>
    <strong>Share:</strong>
    <%= note.share %>
  </p>
</div>
