<div id="<%= dom_id note %>">
  <p>
    <strong>Title:</strong>
    <%= note.title %>
  </p>

  <p>
    <strong>Topic:</strong>
    <%= note.topic %>
  </p>

  <p>
    <strong>Reference:</strong>
    <%= note.reference %>
  </p>

  <p>
    <strong>Picture:</strong>
    <%= image_tag @note.picture  if @note.picture.attached? %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= note.description %>
  </p>

</div>
