<div id="<%= dom_id note %>">
  <p>
    <strong>Title:</strong>
    <%= note.title %>
  </p>

  <p>
    <strong>Topic:</strong>
    <%= note.topic %>
  </p>

  <p>
    <strong>Reference:</strong>
    <%= note.reference %>
  </p>

  <p>
    <strong>Image:</strong>
   
<%= note.text_field :image %>

  </p>

  <p>
    <strong>Description:</strong>
    <%= note.description %>
  </p>

</div>
