<div id="<%= dom_id note %>">
  <p>
    <strong>Title:</strong>
    <%= note.title %>
  </p>

  <p>
    <strong>Topic:</strong>
    <%= note.topic %>
  </p>

  <p>
    <strong>Reference:</strong>
    <%= note.reference %>
  </p>

  <p>
    <strong>Picture:</strong>
     <%= form_for @note, html: {multipart: true} do |f| %>
<%= f.file_field :image %>
<%= f.text_field :remote_image_url, placeholder: 'or image url' %>
<%= f.submit %>
<% end %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= note.description %>
  </p>

</div>
