<p style="color: green"><%= notice %></p>

<h1>Notes</h1>

<div id="notes">
  <% @notes.each do |note| %>
  <% if current_user.admin? || current_user.id == note.user_id%> 
    <%= render note %>
    <p>
      <%= link_to "Show this note", note %>
    </p>
  <% end %>
    <% @notes.each do |note| %>
    <% if current_user.friend_id == note.user_id && note.share? %>
      <%= render note %>
    <% end %>
 <% end %>
 <% end %>
</div>
<%= link_to "notes", collection_notes_path %>
<%= link_to "New note", new_note_path %>
<%= link_to "User", users_path %>
<%= link_to "Log out", destroy_user_session_path, class: 'nav-link', data: {turbo_method: :delete} %>