<%= render :template => 'dashboard/index' -%>
<p style="color: green"><%= notice %></p>

<%= render @note %>

<div>
  <%= link_to "Share ", share_note_path %>

  <%= button_to "Destroy this note", @note, method: :delete %>
</div>

<%= render :template => 'notes/back' -%>
<%= link_to "Log out", destroy_user_session_path, class: 'nav-link', data: {turbo_method: :delete} %>