

<p style="color: green"><%= notice %></p>

<%= render "form", user: @user %>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>
<% if current_user.admin?%>      
  <%= button_to "Destroy this user", @user, method: :delete %>
   <% end %>
   <%= button_to "See friends", friendships_path(@user)  %>
</div>


<%= button_to "logout", destroy_user_session_path, method: :delete  %>
