<%= render :template => 'dashboard/index' -%>

<p style="color: green"><%= notice %></p>
<h2> This is the information of the user, be sure before to delete</h2>
<%= render @user %>

<div>
<% if current_user.admin? && (@user.id != current_user.id) %>      
  <%= button_to "Destroy this user", @user, method: :delete %>
   <% end %>
   <% if (@user.id == current_user.id) %>      
    <%= button_to "Destroy this user", @user, method: :delete %>
   <% end %>
</div>


