<%= form_with(model: collection_note) do |form| %>
  <% if collection_note.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(collection_note.errors.count, "error") %> prohibited this collection_note from being saved:</h2>
    <% end %>  
      <ul>
        <% collection_note.errors.each do |error| %>
          <li><%= error.full_message %></li>
      </ul>
    <% end %>
    </div>
  <div>
  
  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

 <h2>Select notes</h2>

  <%= form.fields_for :notes do |note_fields| %>
    <p>
    <%= note_fields.label :categoria %><br>
    <%= note_fields.collection_select(:note, @note, :note_id, :topic) %>
  </p>
  <% end %>


  <div>
    <%= form.submit %>
  </div>
<% end %>