<h1>Your Friend choose to take</h1>
<% @users.each do |user| %>
  <div class="user">
    <p>
      <strong><%=h user.Username %></strong>
      <%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %>
      <div class="clear"></div>
    </p>
  </div>



<h2>Your Friends</h2>
<ul>
  <% for user in @user.friend_id %>
  <li><%= h user.Username %></li>
  <% end %>  
</ul>


<h2>Your Friends, choose what you want to delete</h2>
<ul>
  <% for friendship in @user.friendships %>
  <li>
    <%= h friendship.friend.Username %>
    (<%= link_to "remove", friendship, :method => :delete %>)
  </li>
  <% end %>  
</ul>



<h2>Users Who Have Befriended You</h2>
<ul>
  <% for user in @user.inverse_friends %>
  <li><%= h user.username %></li>
  <% end %>
</ul>


<%= form_tag add_friend_path, method: :get do%>
<%= text_field_tag :search, nil, placeholder: "Look friends"%>
<%= submit_tag "Look"%>
<% end %>

<%= form_for @friendships do |f| %>
<%= f.hidden_field :friend_id, value: @friend.id%>
<%= f.submit "Look"%>
<% end %>


<% @user.each do |user| %>
<p>
<%= user.name %>
<% if current_user!= user && !current_user.friends.include?(user) %>
<% if current_user.pending_friends.include?(user) %>
<%= button_to "send request", send_friend_request_user_path(user), method: :post %>
<% end %>
<% else %>
<%= button_to "delete friend", "#", disabled: true%>
<% end %>
</p>

<% end %>

<h2>Pending</h2>
<% if @pending_friendships.present? %>
<ul>
<% @pendging_friendships.each do |friendship| %>
<li>
<%= friendship.user.name %> want to agregate as a friend
<%= button_to "accept", accept_friendship_path(friendship),method: :patch %>
</li>
<% end %>
</ul>
<% else %>
<p>dont have solicitud</p>
<%end %>



<h2>Your Friends</h2>
<ul>
  <% if @accepted_friendships.present?  %>
  <ul>
 <% @accepted_friendships.each do |friendship|%>
<li> <%= friendship.friend.name%> </li>
<% end %>
</ul>
<% else %>
<p> dont have friends </p>
  <% end %> 
<% end %>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
