<h2>Possible friends to take, choose user to send a request</h2>
    <% @users.each do |user| %>
      <div class="user">
      <p>
      <strong><%=h user.Username %></strong>
      <%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %>
      <div class="clear"></div>
      </p>
      <% if current_user!= user && !current_user.friends.include?(user) %>
        <% if current_user.pending_friends.include?(user) %>
          <%= button_to "send request", send_friend_request_user_path(user), method: :post %>
        <% end %>
        <% else %>
          <%= button_to "delete friend", "#", disabled: true%>
        <% end %>
      <% end %>
      </div>


  <h2>Users Who Have Befriended You</h2>
  <ul>
  <% if @user && @user.inverse_friends? %>
    <% for user in @user.inverse_friends %>
      <li><%= h user.Username %></li>
    <% end %>
  <% if friendships.inverse_friend? %>
    <li><%= h user.Username %></li>
  <% else %>
  <% end %>
    <p> nobody wants to be your friend </p>
  <% end %>
  </ul>






  <h2>Pending</h2>
  <% if @pending_friendships.present? %>
    <ul>
    <% @pendging_friendships.each do |friendship| %>
    <li>
    <%= friendship.user.name %> want to agregate as a friend
    <%= button_to "accept", accept_friendship_path(friendship),method: :patch %>
    </li>
    </ul>
  <% end %>
  <% else %>
    <p>dont have solicitud</p>
  <%end %>



  <h2>Persons who wants to be your friends</h2>
  <ul>
    <% if @accepted_friendships.present?  %>
      <% @accepted_friendships.each do |friendship|%>
      <li> <%= friendship.friend.name%> </li>
    <% end %>
  </ul>
    <% else %>
      <p> dont have friends </p>
    <% end %> 
  <div>
  <% end %>